html, body {
	height: 100%;
	width: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url(../images/sandpaper.png);
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.17em;
}
h4 {
	font-size: 1.12em;
}
h5 {
	font-size: .83em;
}
h6 {
	font-size: .75em;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -101px;
}
.push {
	height: 101px;
	clear: both;
}
header {
	background-color: white;
	overflow: auto;
	border-bottom: 2px solid #777777;
}
.headerContent {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
}
header h1 {
	background-color: #4aaaa5;
	float: left;
	color: white;
	padding: 20px;
}
.headerContent ul {
	font-size: 0;
	float: right;
	margin: 27.5px 0;
}
.headerContent li {
	font-size: 17px;
	display: inline-block;
}
.headerContent li.active {
	background-color: rgba(74,170,165,0.6);
}
.headerContent li.active a {
	color: white;
}
.headerContent a {
	display: inline-block;
	padding: 0 15px 0;
	text-decoration: none;
	color: #777777;
}
.headerContent a:link {
	
}
.headerContent a:visited {
	
}
.headerContent a:hover {
	background-color: teal;
	color: white;
}
.headerContent a:focus {
	
}
.headerContent a:active {
	
}
.headerContent #portLink {
	border-left: 1px solid #777777;
	border-right: 1px solid #777777;
}
.allContent {
	height: 100%;
	width: 960px;
	margin: 0 auto;
	padding: 30px 0;
	ovesrflow: auto;
}
.mainContent {
	float: left;
	width: 588px;
	background-color: white;
	padding: 30px;
	overflow: auto;	
	border: 1px solid #777777;
}
.mainContent h1 {
	padding: 10px 0 30px;
	border-bottom: 3px solid #c3c3c3;
	margin: 0 0 20px;
	color: #4aaaa5;
}
.mainContent #bioPic {
	height: 200px;
	width: 200px;
	float: left;
	margin: 0 20px 20px 0;
}
.connect {
	float: left;
	width: 228px;
	margin: 0 0 0 40px;
	padding: 20px;
	background-color: white;
	border: 1px solid #777777;
}
.connect h2 {
	padding: 0 0 20px;
	border-bottom: 3px solid #c3c3c3;
	margin: 0 0 20px;
	color: #4aaaa5;
}
.connect img {
	height: 60px;
	width: 60px;
}
.connect ul {
	font-size: 0px;
}
.connect li {
	display: inline-block;
	width: 33%;
	font-size: 18px;
	text-align: center;
}
footer {
	width: 100%;
	background-color: #777777;
	color: white;
	border-top: 5px solid #4aaaa5;
	clear: both;
}
.footerContent {
	width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 40px;
	text-align: center;
}
.portImg {
	display: inline-block;
	position: relative;
	margin: 0 20px 20px 0;
}
.portImg span {
	position: absolute;
    top: 75%;
    left: 0%;
    width: 180px;
    padding: 10px;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
}
#formName, #formEmail, #formMessage {
	width: 98%;
	padding: 4px 5px;
	margin: 10px 0 20px;
}
#btnSubmit {
	background-color: #4aaaa5;
	padding: 10px 25px;
	text-align: center;
	color: white;
	width: 75px;
}