html, body {
	height: 100%;
	width: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url(../images/sandpaper.png);
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.17em;
}
h4 {
	font-size: 1.12em;
}
h5 {
	font-size: .83em;
}
h6 {
	font-size: .75em;
}
body {
	
}
header {
	background-color: white;
}
.allContent {
	height: 100%;
	width: 960px;
	margin: 0 auto;
	padding: 30px 0;
	overflow: auto;
}
.mainContent {
	float: left;
	width: 588px;
	background-color: white;
	padding: 30px;
	overflow: auto;	
	border: 1px solid grey;
}
.mainContent h1 {
	padding: 10px 0 30px;
	border-bottom: 3px solid grey;
	margin: 0 0 20px;
}
.mainContent #bioPic {
	height: 200px;
	width: 200px;
	float: left;
	margin: 0 20px 20px 0;
}
.connect {
	float: left;
	width: 228px;
	margin: 0 0 0 20px;
	padding: 20px;
	background-color: white;
	border: 1px solid grey;
}
.connect h2 {
	padding: 0 0 20px;
	border-bottom: 3px solid grey;
	margin: 0 0 20px;
}
.connect img {
	height: 60px;
	width: 60px;
}
.connect ul {
	font-size: 0px;
}
.connect li {
	display: inline-block;
	width: 33%;
	font-size: 18px;
	text-align: center;
}
